<h5>請輸入希望小幫手提醒您的價格</h5>
<div class="form-group">
  <label for="openPrice" class="col-sm-3">收盤價格低於: </label>
  <input type="text" name="openPrice" id="openPrice">
</div>
<div class="form-group">
  <label for="dividendYield" class="col-sm-3">殖利率高於: </label>
  <input type="text" name="dividendYield" id="dividendYield">
</div>
<input type="hidden" name="code" id="code" value="{{code}}">
<input type="hidden" name="name" id="name" value="{{name}}">
<input type="hidden" name="userId" id="userId">
<button onclick="follow(this)" class="btn btn btn-outline-dark">提交</button>