<h5 style="margin-top:20px">請輸入希望小幫手提醒您的價格</h5>
<form action="/form" method="POST">
  <label for="openPrice">收盤價格: </label>
  <input type="text" name="openPrice" id="openPrice">
  <input type="hidden" name="code" id="code" value="{{code}}">
</form>