<h5>請輸入希望小幫手幫您取消追蹤的股票</h5>
<div class="form-group">
  <label for="openPrice" class="col-sm-3">股票代碼: </label>
  <input type="text" name="code" id="code">
</div>
<input type="hidden" name="userId" id="userId">
<button onclick="unfollow(this)" class="btn btn btn-outline-dark">提交</button>