.container {
  margin-top: 30px;
}

h5 {
  margin-bottom: 20px;
}

.form-group, li {
  margin-bottom: 10px;
}

#alert {
  color: red;
  margin-top: 20px;
}

.btn {
  position: absolute;
  left: 30%;
  margin-top: 20px;
}

a {
  text-decoration:none;
  color: black;
}

a:hover {
  color: black;
}

.list-btn {
  border-color: none;
  border-style: none;
  background-color: white;
}

.cancel-btn {
  position: absolute;
  left: 60%;
}

.confirm-btn {
  position: absolute;
  left: 80%;
}

.modal-footer {
  height: 70px;
}

.stock-option {
  cursor: pointer;
  margin: 0 auto;
  z-index: 1;
}

.drop-down-menu-items {
  display: block;
  position: absolute;
  margin-left: 20%;
}

.input-items {
  display: block;
}

.drop-down-btn {
  display: block;
}